body{
    background-color: #6E41E2;
    overflow-x: hidden;
}

.btn-blog{
    background-color: #ffffff !important;
    color: #6E41E2;
    border-color: #ffffff !important;
}
.btn-blog:hover{
    color: white !important;
    background-color: #6e41e2 !important;
}

.color-text{
    color: #ffffff;
}

.img-blog{
    max-width: 100%;
    min-width: 600px;
}

.transparent{
    border-radius: 16px;

}
