h1{
    font-family: Montserrat;
    font-weight: bolder;
}
.btn-custom{
    max-width: 86.84px !important;
}
.purple-header{
    background-color: #6e41e2;
    padding-bottom: 5rem;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}
.custom-img{
    width: 600px;
    height: 160px;
    object-fit: cover;
    object-position: center;
}
.progress{
    border-top-left-radius: .8rem !important;
    border-top-right-radius: .8rem !important;
}
.progress-bar{
    background-color: #27AE60 !important;
}
.badge-card-img{
    max-width: 1.5rem;
}